.dialogues {
    padding: 24px;
    width: 320px;
    border: 2px solid black;
}

.theWindow {
    padding: 24px;
    width: 300px;
    border: 2px solid black;
    align-content; : 20pxs
}

#container {
    border: 2px;
    border-color: red;
    padding: 20px;
    margin: 10px;
}

body {
    background-color: rgb(107, 87, 87);
    color: white;
}